body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Added stuff*/
#banner {
    width: 100%;
    overflow: hidden;
}

#navbar {
    border: 0;
    height: 30px;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}
#body-div {
    top: 0;
    position: relative;
    height: 320px;
}

#firstPanel, #secondPanel {
    height: 320px;
    background-size: cover;
}

#firstPanel {
    background-image: url('../Images/slam_resized.png');
}

#secondPanel {
    background-image: url('../Images/jam_resized.jpg');
}

@media screen and (max-width: 1200px) {
    #secondPanel {
        position: absolute;
        display: none;
    }
}

.main-content{
    
}
